## How to manipulate missing entries using pandas python
[tutorial](https://www.youtube.com/watch?v=ht5buXUMqkQ)
* **```df.isnull()```**
* **```pd.read_csv(name.csv, na_values= )```**
* **```df.isnull().sum()(.sum())```**  
  
  
* To deal with special entries   
**```try:  
    int(row)  
     ...  
except ValueError: pass```**  
  
  
* Three ways to fill out missing entries  
    * **```df.loc```**
    * **```df.fillna(values, inplace=True)```**
    * **```df.fillna(median, inplace-Ture)```**

In [1]:
import os
os.chdir('E:/videos-master/cleaning messy data with pandas/')
os.listdir()

['property data.csv']

In [2]:
tempered_dataset =  'property data.csv'
import pandas as pd
df = pd.read_csv(tempered_dataset)
df.head()

   ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS
0   104.0     PUTNAM            Y            3
1   197.0  LEXINGTON            N            3
2     NaN  LEXINGTON            N          NaN
3   201.0   BERKELEY           12            1
4   203.0   BERKELEY            Y            3

In [18]:
print(df)

   ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS
0   104.0      PUTNAM            Y           3.0
1   197.0   LEXINGTON            N           3.0
2   125.0   LEXINGTON            N           3.0
3   201.0    BERKELEY            N           1.0
4   203.0    BERKELEY            Y           3.0
5   207.0    BERKELEY            Y           3.0
6     NaN  WASHINGTON            N           2.0
7   213.0     TREMONT            Y           3.0
8   215.0     TREMONT            Y           3.0

In [19]:
print(df.isnull())

   ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS
0   False    False         False         False
1   False    False         False         False
2   False    False         False         False
3   False    False         False         False
4   False    False         False         False
5   False    False         False         False
6    True    False         False         False
7   False    False         False         False
8   False    False         False         False

In [4]:
missing_values={'na', '--'}
df = pd.read_csv(tempered_dataset, na_values=missing_values)
print(df.isnull())

   ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS
0   False    False         False         False
1   False    False         False         False
2    True    False         False          True
3   False    False         False         False
4   False    False         False         False
5   False    False         False          True
6    True    False          True         False
7   False    False         False          True
8   False    False         False          True

In [5]:
print(df['OWN_OCCUPIED'].isnull())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [6]:
import numpy as np
cnt = 0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1

print(df['OWN_OCCUPIED'])

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [7]:
print(df['OWN_OCCUPIED'].isnull())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [8]:
print(df.isnull().sum())

ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    4
dtype: int64

In [9]:
print(df.isnull().values.any())

True

In [10]:
print(df.isnull().sum().sum())

8

In [11]:
print(df['OWN_OCCUPIED'])

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [12]:
df['OWN_OCCUPIED'].fillna('N', inplace=True)
print(df['OWN_OCCUPIED'])

0    Y
1    N
2    N
3    N
4    Y
5    Y
6    N
7    Y
8    Y
Name: OWN_OCCUPIED, dtype: object

In [13]:
print(df['ST_NUM'])

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [14]:
df.loc[2, 'ST_NUM'] = 125
print(df['ST_NUM'])

0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [16]:
print(df['NUM_BEDROOMS'])

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: NUM_BEDROOMS, dtype: float64

In [17]:
median = df['NUM_BEDROOMS'].median()
df['NUM_BEDROOMS'].fillna(median, inplace=True)
print(df['NUM_BEDROOMS'])

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: NUM_BEDROOMS, dtype: float64